*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A ;
}
.btn {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main style  */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: center left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height:30px;
    margin-bottom: 30px;
}
#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}
#about {
    padding-top: 130px;
}
#about .about-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4 {
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}
#skillset {
    padding-top: 130px;
}
#skillset .skill-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}
#skillset .skill-container .skill-info {
    display: flex;
    gap: 24px;
}
.skill-info .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000004d;
}
.skill-info .skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-info .skill-card h4 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-info .skill-card p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
#resume {
    padding-top: 130px;
}
#resume .resume-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}
#resume .resume-container .resume-info {
    display: flex;
    gap: 71px;
}
.resume-info .resume-info-box {
    /* border: 1px solid red; */
}
.resume-info .resume-info-box h3 {
    margin-top: 113px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #474747;
}

.box {
    max-width: 511px;
    margin-right: 47px;
}
.resume-info-box .box h4 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.resume-info-box .box h5 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
.resume-info-box .box p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #757575;
}
.resume-info-box hr {
    color: #d1d1d1;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
